
// border radius
$border-radius-big: 10px;
$border-radius-small: 5px;

// colors
$primary-color: #3C75E7;
$black: #000000;
$grey: #72767A;
$white: #ffffff;

$size-mobile: 375px;

$size-medium: 1068px;

:export {
  primaryColor: $primary-color;
  black: $black;
  grey: $grey;

  border-radius-big: $border-radius-big;
  border-radius-small: $border-radius-small;

}
