@import './variables.module';

.appWrapper {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  width: 100%;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.layoutMaxWidth {
  max-width: $size-medium;
}

.wrapperBody {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $size-medium) {
    flex-direction: column;
  }
}
